@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");

::-webkit-scrollbar {
  width: 8px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #1e1e20;
}

::-webkit-scrollbar-thumb {
  background: #dfdfdf;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #8e8e93;
}

.selectWrapper {
  border-radius: 36px;
  display: inline-block;
  overflow: hidden;
  background: #cccccc;
  border: 1px solid #cccccc;
}
.selectBox {
  width: 140px;
  height: 40px;
  border: 0px;
  outline: none;
}

.my-node-enter {
  opacity: 0;
}
.my-node-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.my-node-exit {
  opacity: 1;
}
.my-node-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}
